<a href="https://colab.research.google.com/github/bhertzberg/Pole2PoleData/blob/main/Pole2PoleDataTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
import re
import pandas as pd

In [123]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [58]:
test = open('out.log', 'r')

In [59]:
contents = test.read()

test.close()

In [ ]:
print(contents)

In [63]:
def extract_data(text):
    data = []
    dataNum = 1
    key = 'DATA'
    dataLines = text.split('\n')
    for i in range(len(dataLines)):
        if key in dataLines[i]:
          dataPoint = ''
          j = 0
          for j in range(7):
            dataPoint += dataLines[i+j]
          data.append(str(dataNum) + ' ' + dataPoint)
          dataNum +=1
    return data

In [64]:
dataList = extract_data(contents)

In [65]:
dataList

['1 0:00:02.670 DATA:\tvbat:4850 therm:1683 err:0\ttherm:2145 press:731688 hum:12 alt:68 err:0\tdd:28 mm:6 yyyy:2006 time:115946.000000 lat:0.000000degN lon:0.000000degE alt:0.000000 fix:0 sat:0 dil:0.000000 ms:2076 err:0\tax:0.298828 ay:1.048828 az:0.373535 gx:7.328244 gy:-4.763359 gz:2.427481 therm:23.668703 err:0\tch0:2763 ch1:2924 err:0\ttherm0:1842 therm1:1908 err:0',
 '2 0:01:05.215 DATA:\tvbat:4825 therm:1941 err:0\ttherm:2121 press:731191 hum:12 alt:95 err:0\tdd:20 mm:12 yyyy:2019 time:170238.000000 lat:0.000000degN lon:0.000000degE alt:0.000000 fix:0 sat:0 dil:0.000000 ms:64095 err:0\tax:-0.411133 ay:1.321289 az:-0.100830 gx:6.961832 gy:-3.816794 gz:11.946565 therm:23.572857 err:0\tch0:2849 ch1:1968 err:0\ttherm0:1824 therm1:1884 err:0',
 '3 0:02:07.891 DATA:\tvbat:4825 therm:1877 err:0\ttherm:2101 press:731162 hum:13 alt:126 err:0\tdd:20 mm:12 yyyy:2019 time:170341.000000 lat:0.000000degN lon:0.000000degE alt:0.000000 fix:0 sat:0 dil:0.000000 ms:127099 err:0\tax:-0.339844 ay:0.975342 az:0.044189 gx:6.717557 gy:0.061069 gz:15.244275 therm:23.333244 err:0\tch0:1947 ch1:2508 err:0\ttherm0:1806 therm1:1866 err:0',
 '4 0:03:10.592 DATA:\tvbat:4842 therm:1909 err:0\ttherm:2079 press:731247 hum:13 alt:34 err:0\tdd:20 mm:12 yyyy:2019 time:170444.000000 lat:0.000000degN lon:0.000000degE alt:0.000000 fix:0 sat:0 dil:0.000000 ms:190097 err:0\tax:-0.156494 ay:0.786621 az:0.031494 gx:5.496183 gy:-1.366412 gz:2.236641 therm:23.141552 err:0\tch0:2247 ch1:1976 err:0\ttherm0:1782 therm1:1848 err:0',
 '5 0:04:12.700 DATA:\tvbat:4866 therm:1909 err:0\ttherm:2057 press:731119 hum:13 alt:173 err:0\tdd:20 mm:12 yyyy:2019 time:170546.000000 lat:0.000000degN lon:0.000000degE alt:0.000000 fix:0 sat:0 dil:0.000000 ms:252102 err:0\tax:-0.470459 ay:0.976807 az:0.028809 gx:5.007634 gy:-0.442748 gz:19.038168 therm:23.045706 err:0\tch0:2032 ch1:1975 err:0\ttherm0:1758 therm1:1824 err:0',
 '6 0:05:15.497 DATA:\tvbat:4882 therm:1845 err:0\ttherm:2035 press:730874 hum:13 alt:183 err:0\tdd:20 mm:12 yyyy:2019 time:170649.000000 lat:0.000000degN lon:0.000000degE alt:0.000000 fix:0 sat:0 dil:0.000000 ms:315100 err:0\tax:-0.310059 ay:1.008301 az:-0.162598 gx:4.274809 gy:-2.572519 gz:7.587786 therm:22.806091 err:0\tch0:2053 ch1:1993 err:0\ttherm0:1734 therm1:1800 err:0']

In [23]:
#for all output files
#iterate through all folders by changing string of file path
#add iterator to data extract function, to mark data with original output log

In [52]:
def split_Data(dataPt):
  split = re.split('\n|\t|\s', dataPt)
  return split

In [90]:
def extract_data_details(text):
    dataNum = 1
    data = []
    key = 'DATA'
    dataLines = text.split('\n')
    for i in range(len(dataLines)):
        if key in dataLines[i]:
          dataPoint = ''
          j = 0
          for j in range(7):
            dataPoint += dataLines[i+j]
          splitData = [dataNum]
          splitData += (split_Data(dataPoint))
          data.append(splitData)
          dataNum +=1
    return data

In [91]:
split_data = extract_data_details(contents)

In [ ]:
split_data

In [119]:
cols = ['pic #', 'runtime', 'DATA', 'vbat', 'therm_line1', 'err_line1', 'therm_line2', 'press', 'hum', 'alt', 'err_line2', 'dd', 'mm', 'yyyy', 'time', 'lat', 'lon',
           'alt', 'fix', 'sat', 'dil', 'ms', 'err_line3', 'ax', 'ay', 'az', 'gx', 'gy', 'gz', 'therm_line4', 'err_line4', 'ch0', 'ch1', 'err_line5', 'therm0', 'therm1',
           'err_line5']

In [121]:
df = pd.DataFrame(split_data, columns=cols)

In [122]:
df

,pic #,runtime,DATA,vbat,therm_line1,err_line1,therm_line2,press,hum,alt,...,gy,gz,therm_line4,err_line4,ch0,ch1,err_line5,therm0,therm1,err_line5
0,1,0:00:02.670,DATA:,vbat:4850,therm:1683,err:0,therm:2145,press:731688,hum:12,alt:68,...,gy:-4.763359,gz:2.427481,therm:23.668703,err:0,ch0:2763,ch1:2924,err:0,therm0:1842,therm1:1908,err:0
1,2,0:01:05.215,DATA:,vbat:4825,therm:1941,err:0,therm:2121,press:731191,hum:12,alt:95,...,gy:-3.816794,gz:11.946565,therm:23.572857,err:0,ch0:2849,ch1:1968,err:0,therm0:1824,therm1:1884,err:0
2,3,0:02:07.891,DATA:,vbat:4825,therm:1877,err:0,therm:2101,press:731162,hum:13,alt:126,...,gy:0.061069,gz:15.244275,therm:23.333244,err:0,ch0:1947,ch1:2508,err:0,therm0:1806,therm1:1866,err:0
3,4,0:03:10.592,DATA:,vbat:4842,therm:1909,err:0,therm:2079,press:731247,hum:13,alt:34,...,gy:-1.366412,gz:2.236641,therm:23.141552,err:0,ch0:2247,ch1:1976,err:0,therm0:1782,therm1:1848,err:0
4,5,0:04:12.700,DATA:,vbat:4866,therm:1909,err:0,therm:2057,press:731119,hum:13,alt:173,...,gy:-0.442748,gz:19.038168,therm:23.045706,err:0,ch0:2032,ch1:1975,err:0,therm0:1758,therm1:1824,err:0
5,6,0:05:15.497,DATA:,vbat:4882,therm:1845,err:0,therm:2035,press:730874,hum:13,alt:183,...,gy:-2.572519,gz:7.587786,therm:22.806091,err:0,ch0:2053,ch1:1993,err:0,therm0:1734,therm1:1800,err:0